.circle{font-size:50px;width:100px;height:100px;border-radius:50%;background-color:blue;color:white;text-align:center;position:relative;left:45%}#root{max-width:1200px;margin:0 auto;background-color:#32322E}

